@import "tailwindcss";

@theme{
  --shadow-sm: 0px 0px 5px rgb(0,0,0,0.5);
}

@layer components{
  .toast{
    @apply w-[360px] h-[60px] font-[500] text-[18px]   mt-4 shadow-sm text-black flex items-center px-5  relative ;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
  }
  @keyframes moveleft{
    100%{transform: translateX(0)}
  }
  .toast::after{
    content: '';
    position: absolute;
   left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
  }
  @keyframes anim {
    100%{
      width: 0%;
    }
  }
}